<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="POST">
        <input type="hidden" name="id"  />
        <input type="number" name="pid"  placeholder="商品编号"/>
        <br/>
        <input type="text" name="pname"  placeholder="商品名称"/>
        <br/>
        <input type="number" name="shopprice"  placeholder="购买价格"/>
        <br/>
        <input type="number" name="costprice"  placeholder="成本价格"/>
        <br/>
        <input type="number" name="limit"  placeholder="库存数量"/>
        <br/>
        <button class="button">提交</button>
    </form>
</body>
</html>