<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Go购商城后台管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/ht_style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>Go购商城后台管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
        <a href="./login">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
 
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="./orderList">订单管理</a></li>
                <li ><a href="./productList">商品管理</a></li>
                <li id="active"><a href="./userList">用户管理</a></li>
                <li><a href="./password">密码修改</a></li>
                <li><a href="./login">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>账单管理页面 >> 订单添加页面</span>
        </div>
        <div class="productAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="oid">订单ID：</label>
                    <input type="text" name="oid" id="oid" required/>
                    <span>*请输入订单编码</span>
                </div>
                <div>
                    <label for="uid">用户ID：</label>
                    <input type="text" name="uid" id="uid" required/>
                    <span >*请输入用户ID</span>
                </div>
                <div>
                    <label for="pid">商品ID：</label>
                    <input type="text" name="pid" id="pid" required/>
                    <span>*请输入商品ID</span>
                </div>

                <div>
                    <label for="ordertime">购买时间：</label>
                    <input type="text" name="ordertime" id="ordertime" required/>
                    <span>*请输入购买时间</span>
                </div>

                <div>
                    <label for="totalprices">总金额：</label>
                    <input type="text" name="totalprices" id="totalprices" required/>
                    <span>*请输入大于0的正自然数，小数点后保留2位</span>
                </div>

                <div>
                    <label for="freight">运费：</label>
                    <input type="text" name="freight" id="freight" required/>
                    <span>*请输入运费</span>
                </div>

                <div>
                    <label >是否付款：</label>
                    <input type="radio" name="zhifu"checked/>未付款
                    <input type="radio" name="zhifu"/>已付款
                </div>
                <div class="productAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="orderList.html">返回</a>-->
                    <input type="button" value="保存" onclick="history.back(-1)"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="js/time.js"></script>

</body>
</html>