<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>
<body>
    <section>
        <!-- 背景颜色 -->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle" style="--x:0"></div>
            <div class="circle" style="--x:1"></div>
            <div class="circle" style="--x:2"></div>
            <div class="circle" style="--x:3"></div>
            <div class="circle" style="--x:4"></div>
            <!-- 登录框 -->
            <div class="container">
                <div class="form">
        <h2>注册</h2>
    <form action="/register" method="post">
        <div class="inputBox">
            用户ID：<input type="text" name="uid" required=""/>
        </div>

        <div class="inputBox">
            密码：<input type="password" name="pass" required=""/>
        </div>  

        <div class="inputBox">
            电话号码：<input type="mobile" name="mobile"/>
        </div>

        <div class="inputBox">
           电子邮箱 ：<input type="email" name="email"/>
        </div>   

        <div class="inputBox">
            年龄：<input type="age" name="age"/>
        </div>

        <div class="inputBox">
            身份证号：<input type="idcard" name="idcard"/>
        </div>  

        <div class="inputBox">
            收货地址：<input type="address" name="address"/>
        </div>  

    <div class="inputBox">
        <input type="submit" value="确定"/>
    </div>
    </form>
 </section>
</body>
</html>