<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Go购商城后台管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/ht_style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>Go购商城后台管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
        <a href="./login">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
 
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="./order/orderList">"订单管理</a></li>
                <li ><a href="./product/productList">商品管理</a></li>
                <li id="active"><a href="/users/userList">用户管理</a></li>
                <li><a href="./password">密码修改</a></li>
                <li><a href="./login">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="productAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="uid">用户ID：</label>
                    <input type="text" name="uid" id="uid"/>
                    <span>*请输入用户编码，且不能重复</span>
                </div>

                <div>
                    <label for="pass">用户密码：</label>
                    <input type="text" name="pass" id="pass">
                    <span>*密码长度必须大于6位小于20位</span>

                </div>

                <div>
                    <label for="mobile">用户电话：</label>
                    <input type="text" name="mobile" id="mobile"/>
                    <span >*</span>
                </div>

                <div>
                    <label for="email">用户邮箱：</label>
                    <input type="text" name="email" id="email"/>
                    <span >*</span>
                </div>

                <div>
                    <label for="age">用户年龄：</label>
                    <input type="text" name="age" id="age"/>
                    <span >*</span>
                </div>

                <div>
                    <label for="idcard">身份ID：</label>
                    <input type="text" name="idcard" id="idcard"/>
                    <span >*</span>
                </div>

                <div>
                    <label for="userAddress">用户地址：</label>
                    <input type="text" name="userAddress" id="userAddress"/>
                </div>
                <div>
                    <label >用户类别：</label>
                    <input type="radio" name="userlei"/>管理员
                    <input type="radio" name="userlei"/>经理
                    <input type="radio" name="userlei"/>普通用户

                </div>
                <div class="productAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="button" value="保存" onclick="history.back(-1)"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="./js/time.js"></script>

</body>
</html>